@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --background: hsl(222.2, 84%, 0%);
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* --accent: 210 40% 96.1%; */
    /* --accent: 210 53.3% 72.9%;
    --accent-foreground: 222.2 47.4% 11.2%; */
    --accent: 185.74 52.04% 56.67%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* --warning: 50.16, 79.22%, 45.29%; */
    --warning: hsl(50.16, 79.22%, 45.29%);
    --warning-foreground: hsl(64, 74%, 63%);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;


  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    /* --accent: 217.2 32.6% 17.5%; */
    --accent: 210 53.3% 72.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --warning: hsl(50.16, 79.22%, 45.29%);
    --warning-foreground: hsl(48, 100%, 96.08%);

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  font-family: 'Inter', 'system-ui', sans-serif;
} */

@keyframes branch-1 {

  /* 0% { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: translateX(0); } */
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes branch-2 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes branch-3 {

  /* 0% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0); } */
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes branch-4 {
  0% {
    opacity: 0;
    transform: translate(100%, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes branch-5 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes branch-6 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-1 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50px, -10px);
  }
}

@keyframes text-2 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translate(50px, -10px);

  }
}

@keyframes text-3 {

  /* 0% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0); } */
  0% {
    opacity: 0;
    transform: translateX(-100%);
    /* transform: translate(-100vh, 0); */
  }

  100% {
    opacity: 1;
    transform: translate(-50px, -10px);
  }
}

@keyframes text-4 {
  0% {
    opacity: 0;
    transform: translate(100%, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(50px, -10px);
  }
}

@keyframes text-5 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50px, -10px);
  }
}

@keyframes text-6 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes icon-ready {
  0% {
    opacity: 0;
    transform: translate(100%, 10%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

icon-ready .animate-icon-ready {
  animation: icon-ready 5s ease-in-out forwards;
}

.animate-branch-1 {
  animation: branch-1 1s ease-in-out forwards;
}

.animate-branch-2 {
  animation: branch-2 1s ease-in-out forwards;
}

.animate-branch-3 {
  animation: branch-3 1s ease-in-out forwards;
}

.animate-branch-4 {
  animation: branch-4 1s ease-in-out forwards;
}

.animate-branch-5 {
  animation: branch-5 1s ease-in-out forwards;
}

.animate-branch-6 {
  animation: branch-6 1s ease-in-out forwards;
}

.animate-text-1 {
  animation: text-1 1s ease-in-out 1s forwards;
}

.animate-text-2 {
  animation: text-2 1s ease-in-out 1s forwards;
}

.animate-text-3 {
  animation: text-3 1s ease-in-out 1s forwards;
}

.animate-text-4 {
  animation: text-4 1s ease-in-out 1s forwards;
}

.animate-text-5 {
  animation: text-5 1s ease-in-out 1s forwards;
}

.animate-text-6 {
  animation: text-6 1s ease-in-out 1s forwards;
}